<nav class="navbar fixed-top navbar-expand-lg navbar-dark header">
  <a class="navbar-brand" routerLink="">
    <h1>Users</h1>
  </a>
  <div class='search-hero'>
    
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="Start searching users">
  </div>
  <button class="btn btn-success" type="button" (click)="addUser()">Add User</button>
  <button type="button" class="btn btn-info" (click)='logout()'>
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    Log out
  </button>
</nav>
<app-add-user [isModalShown]="isAddModalShown" (onCloseModal)="onCloseAddModal()"></app-add-user>
<div class="container-fluid ">
  <div class="row enclose" style="margin-top: 120px" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="200"
    (scrolled)="getUserList()">
    <div class="col-3" style="margin-bottom: 20px;" *ngFor="let user of userData?.results | filter:searchText">
      <div class="card h-100" >
        <img class="card-img-top rounded" [src]="user?.user?.picture?.large">
        <div class="card-body">
          <h5 class="card-title"> {{user?.user?.name?.title}} {{user?.user?.name?.first}} {{user?.user?.name?.last}}
          </h5>
          <p class="card-text">{{user?.user?.email}}, {{user?.user?.username}} </p>
          <p class="card-text">{{user?.user?.dob | date}}, {{user?.user?.gender}}</p>
          <p class="card-text">{{user?.user?.phone}}, {{user?.user?.cell}}</p>
          <p class="card-text">{{user?.user?.location?.street}}, {{user?.user?.location?.city}}</p>
          <p class="card-text">{{user?.user?.location?.state}}, {{user?.user?.location?.zip}}</p>
          <!-- <a (click)="goToDetails(product.id)" [popover]="product.title" triggers="mouseenter:mouseleave" class="btn btn-success ml-1">Product Details</a> -->
        </div>
      </div>
    </div>

  </div>

</div>

